* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth; }

#footer-general {
  background-color: #313131; }

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em; }

/*contenedor uno*/
.contenedorUno {
  display: flex; }

.cajaUno {
  background-color: white;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  float: left;
  position: relative;
  display: block; }

.imgSillon {
  object-fit: cover;
  width: 100%;
  height: 44.813rem;
  display: block; }

.cajaDos {
  background-color: #E5E5E5;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  float: left;
  padding: 1.875rem;
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center; }

.imgRedonda {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 9.37rem;
  border: 0.8rem solid #DFDEDE;
  margin: 3rem;
  align-items: center; }

/*contenedor Dos*/
.contenedorDos {
  display: flex; }

.cajaTres {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.catalogoCajaTres {
  width: 25rem;
  height: 25rem;
  text-align: center;
  font-size: 2.188rem;
  margin: 10rem 0 0 0; }

.cajaCuatro {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 717px;
  float: left;
  padding: 30px;
  position: relative;
  display: flex;
  text-align: center; }

.imgCuadro {
  width: 350px;
  height: 450px;
  padding-left: 50px;
  margin: 6rem 4rem 3rem 2rem;
  text-align: center; }

.textoCajaCuatro {
  font-family: 'Inknut Antiqua', serif;
  animation-duration: 3s;
  animation-name: slidein;
  display: inline;
  margin-top: 12rem;
  font-size: 1.5rem; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*contenedor Tres*/
/*contenedor cuatro*/
.contenedorCuatro {
  display: flex; }

.cajaCinco {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.textoCajaCinco {
  width: 25rem;
  height: 25rem;
  text-align: center;
  font-size: 2.188rem;
  margin: 10rem 0 0 0; }

.cajaSeis {
  background-color: whitesmoke;
  overflow: hidden;
  width: 400px;
  height: 44.813rem; }

/* Contacto */
#contacto {
  overflow: hidden;
  padding: 60px 0; }
  #contacto h2,
  #contacto p.large {
    text-align: center;
    width: 60%;
    margin: 0 auto; }
  #contacto form {
    padding-top: 60px;
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    #contacto form button {
      width: 50%; }

/*telas*/
#main-telas {
  background: url(../img/IAN_4.jpg) center center/cover no-repeat; }

/*Pagina de muebles*/
.header-completo {
  display: grid;
  background: linear-gradient(#c2b4c2, #c7c7c7, #9c9c9c, #969496);
  background: -moz-linear-gradient(-45deg, #d4d4d4 0%, #c7c7c7 34%, #9c9c9c 61%, #635f63 100%); }

.tituloMuebles {
  padding: 1px;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  margin-inline-start: -75rem;
  color: #454647; }

.div-contenedor-muebles {
  display: flex;
  justify-content: center; }

.main-muebles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  border: 2px solid #DFDEDE;
  border-radius: 5px;
  background-color: whitesmoke; }

.main-muebles > div {
  border: 2px solid #5e5d5d;
  border-radius: 5px;
  background-color: #DFDEDE;
  padding: 1em;
  color: #565656; }

.muebles-1 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem;
  position: relative; }

.img-muebles-1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.muebles-2 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem; }

.img-muebles-2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.muebles-3 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem; }

.img-muebles-3 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

/*pagina de cortinas*/
.heder-cortinas {
  grid-area: header-cortinas; }

.main-cortinas {
  grid-area: main-cortinas; }

.footer-cortinas {
  grid-area: footer-cortinas; }

.contenedor-cortinas {
  display: grid;
  justify-content: center;
  padding: 80px; }

.hijos {
  padding: auto;
  margin: 2rem;
  width: 325px;
  height: 325px; }

.img-cortinas-1 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-1;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-2;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-3 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-3;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-4 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-4;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-5 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-5;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-6 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-6;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-7 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-7;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

.img-cortinas-8 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-8;
  border: 2px solid #5e5d5d;
  border-radius: 10px; }

/*media querys*/
@media (max-width: 768px) {
  .contenedor-cortinas {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img-cortinas-1" "img-cortinas-2" "img-cortinas-3" "img-cortinas-4" "img-cortinas-5" "img-cortinas-6" "img-cortinas-7" "img-cortinas-8";
    justify-content: center;
    justify-items: center;
    align-items: center; }
  #galeria .galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: "caja-1" "caja-2" "caja-3" "caja-4" "caja-5" "caja-6" "caja-7"; } }

@media (min-width: 768px) {
  .contenedor-cortinas {
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "img-cortinas-1 img-cortinas-2 img-cortinas-3 img-cortinas-4" "img-cortinas-5 img-cortinas-6 img-cortinas-7 img-cortinas-8";
    justify-content: center;
    justify-items: center;
    align-items: center; }
  #galeria .galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas: "caja-1 caja-2 caja-3 caja-4" "caja-1 caja-5 caja-6 caja-7"; } }

/*Pagina Mi Porfolio*/
/*Secction-1*/
.contenedor-NL {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px; }

.texto-1 {
  font-size: 2.7rem;
  color: #cfd1d3; }

.texto-2 {
  font-size: 6rem;
  color: #DFDEDE; }

.textos-NL {
  text-transform: uppercase; }

.texto-3 {
  font-size: 1.3rem;
  color: #e0dede; }

.linkWilliamsiannn {
  color: #9c9c9c; }

/* section */
#section-1-NL {
  background: url("../img/IAN_4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 150px 0; }

#section-1-NL .section-1-NL-caja {
  align-content: right;
  width: 60%; }

#section-1-NL .section-1-NL {
  justify-content: left; }
