* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

/*index principal*/
.principalPadre {
  height: 31.25rem;
  display: grid; }

.headerIndex {
  background-color: #DFDEDE;
  color: white;
  display: grid;
  flex-direction: column;
  align-items: center; }

.tituloHeader {
  padding: 1px;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  margin-inline-start: 2rem;
  color: #454647; }

.navBar {
  padding: 0.063rem 0.125rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-size: 1rem; }

.navBar ul {
  padding: 0.063rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
  column-gap: 5rem; }

.navBar ul li {
  list-style: none;
  font-weight: bold;
  text-align: center;
  display: inline;
  position: relative; }

.navBar ul a {
  text-decoration: none;
  font-size: 0.938rem;
  color: #383838; }

.navBar ul ul {
  display: none;
  position: sticky;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 0;
  z-index: 100; }

.navBar ul ul li {
  float: none;
  width: 9.375rem; }

.navBar ul ul a {
  line-height: 120%;
  padding: 0.625rem, 0.938rem; }

.navBar ul li:hover > ul {
  display: block; }

/*contenedor uno*/
.contenedorUno {
  grid-area: contenedorUno;
  display: flex; }

.cajaUno {
  background-color: white;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  float: left;
  position: relative;
  display: block;
  grid-area: cajaUno; }

.imgSillon {
  object-fit: cover;
  width: 100%;
  height: 44.813rem;
  display: block; }

.cajaDos {
  background-color: #E5E5E5;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  float: left;
  padding: 1.875rem;
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
  grid-area: cajaDos; }

.imgRedonda {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 9.37rem;
  border: 0.8rem solid #DFDEDE;
  margin: 3rem;
  align-items: center; }

/*contenedor Dos*/
.contenedorDos {
  display: flex;
  grid-area: contenedorDos; }

.cajaTres {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: cajaTres; }

.catalogoCajaTres {
  width: 25rem;
  height: 25rem;
  text-align: center;
  font-size: 2.188rem;
  margin: 17rem 0 0 0; }

.cajaCuatro {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 717px;
  float: left;
  padding: 30px;
  position: relative;
  display: flex;
  text-align: center;
  grid-area: cajaCuatro; }

.imgTelasUno {
  width: 200px;
  height: 350px;
  padding-left: 60px 50px;
  margin: 200px 0px 0px 300px;
  margin: 17rem 0 0 0;
  text-align: center; }

.textoCajaCuatro {
  font-family: 'Inknut Antiqua', serif;
  animation-duration: 3s;
  animation-name: slidein;
  display: inline;
  margin-top: 20rem; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*contenedor Tres*/
.contenedorTres {
  display: flex;
  grid-area: contenedorTres; }

.div-img-grises {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem;
  position: relative; }

.imgGrises {
  grid-area: imgGrises; }

.img-telas-6mq {
  grid-area: img-telas-6; }

.img-telas-7mq {
  grid-area: img-telas-7; }

.img-telas-8mq {
  grid-area: img-telas-8; }

.imgGrises {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.img-telas-6 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.img-telas-7 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.img-telas-8 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

/*contenedor cuatro*/
.contenedorCuatro {
  display: flex;
  grid-area: contenedorCuatro; }

.cajaCinco {
  background-color: whitesmoke;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  float: left;
  padding: 1.875rem;
  position: relative;
  display: flex;
  text-align: center;
  grid-area: cajaCuatro; }

.img-bathroom-1 {
  margin-left: 10rem;
  align-items: center; }

.textoCajaCinco {
  width: 50%;
  align-content: center;
  margin-top: 10rem;
  font-size: 1rem;
  text-align: center; }

.cajaSeis {
  background-color: #c7c2c2;
  overflow: hidden;
  width: 50%;
  height: 44.813rem;
  display: flex;
  justify-content: center;
  align-items: right;
  grid-area: cajaSeis; }

.textoCajaSeis {
  width: 25rem;
  height: 25rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 10rem 0 0 0; }

/*Pagina de muebles*/
.header-completo {
  display: grid;
  background: linear-gradient(#c2b4c2, #c7c7c7, #9c9c9c, #969496);
  background: -moz-linear-gradient(-45deg, #d4d4d4 0%, #c7c7c7 34%, #9c9c9c 61%, #635f63 100%); }

.tituloMuebles {
  padding: 1px;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  margin-inline-start: -75rem;
  color: #454647; }

.div-contenedor-muebles {
  display: flex;
  justify-content: center; }

.main-muebles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px; }

.main-muebles > div {
  border: 2px solid #5e5d5d;
  border-radius: 5px;
  background-color: #DFDEDE;
  padding: 1em;
  color: #565656; }

.main-muebles {
  border: 2px solid #DFDEDE;
  border-radius: 5px;
  background-color: whitesmoke; }

.muebles-1 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem;
  position: relative; }

.img-muebles-1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.muebles-2 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem; }

.img-muebles-2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

.muebles-3 {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  padding: 2rem; }

.img-muebles-3 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  text-align: center; }

/*pagina de cortinas*/
.contenedor-cortinas {
  display: flex;
  justify-content: center;
  padding: 5rem;
  background-color: #DFDEDE; }

.hijos {
  margin: 1rem;
  width: 200px;
  height: 200px; }

.img-cortinas-1 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-1;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-2;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-3 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-3;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-4 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-4;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-5 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-5;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-6 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-6;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-7 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-7;
  border: 0.2rem solid #DFDEDE; }

.img-cortinas-8 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  grid-area: img-cortinas-8;
  border: 0.2rem solid #DFDEDE; }

/*media querys cortinas*/
@media (max-width: 768px) {
  .contenedor-cortinas {
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "img-cortinas-1" "img-cortinas-2" "img-cortinas-3" "img-cortinas-4";
    justify-content: center;
    justify-items: center;
    align-items: center; } }

@media (min-width: 768px) {
  .contenedor-cortinas {
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "img-cortinas-1 img-cortinas-2 img-cortinas-3 img-cortinas-4" "img-cortinas-5 img-cortinas-6 img-cortinas-7 img-cortinas-8";
    justify-content: center;
    justify-items: center;
    align-items: center; } }

/* Media querys index*/
@media only screen and (max-width: 880px) {
  .textoCajaCuatro {
    display: none !important; } }

@media only screen and (min-width: 880px) {
  .textoCajaCuatro {
    display: block !important; } }

#footer-general {
  background-color: #565656; }
