@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

$colors: ("footer": #313131, "boxContainer": whitesmoke);

@debug map-get($colors, "footer");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

#footer-general{
    // background-color: #313131;
    background-color: map-get($colors, "footer");
    position: fixed;
    grid-area: footer-general;
    a {
        text-decoration: none; 
        color:#cfd1d3;
    }
}

p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
  }

/* section-1 */
#section-1-index {
	background: url('../img/fondo-muebles-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding: 150px 0;

    .contenedor-index {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .div-flotante-index{
        background-color: #E5E5E5;
        padding: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 470px;
        left: 50%;

        .texto-2-index{
            font-size: 2rem;
        }
        
        .texto-3-index{
            font-size: 1rem;
        }
    }

    .texto-1-index{
        font-size: 3rem;
        writing-mode: vertical-lr;
    }

}










/*contenedor Dos*/
.contenedorDos{
    display: flex;

    .cajaTres{
        background-color: map-get($colors, "boxContainer");
        overflow:hidden;
        width: 50% ;
        height: 44.813rem;
        @include display-center;  

        .catalogoCajaTres{
            width: 25rem; 
            height: 25rem;
            text-align: center;
            font-size: 2.188rem;
            margin: 10rem 0 0 0;
        }
    }

    .cajaCuatro{
        background-color: map-get($colors, "boxContainer");
        overflow:hidden;
        width: 50%;
        height: 717px;
        float: left;
        padding: 30px ;
        position: relative;
        display: flex;
        text-align: center;
        .imgCuadro{
            width: 350px; 
            height: 450px;
            padding-left:  50px;
            margin: 6rem 4rem 3rem 2rem;
            text-align: center;
        }
    }
}








.textoCajaCuatro{
    font-family: 'Inknut Antiqua', serif;
    animation-duration: 3s;
    animation-name: slidein;
    display:inline;
    margin-top: 12rem;
    font-size: 1.5rem;
    
}
    @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
        }
      
    to {
        margin-left: 0%;
        width: 100%;
        }
      }


/*contenedor Tres*/

/*contenedor cuatro*/
.contenedorCuatro{
    display: flex;

    .cajaCinco{
        background-color: map-get($colors, "boxContainer");
        overflow:hidden;
        width: 50% ;
        height: 44.813rem;
        @include display-center;  

    }

    .textoCajaCinco{
        width: 25rem; 
        height: 25rem;
        text-align: center;
        font-size: 2.188rem;
        margin: 10rem 0 0 0;
    }

    .cajaSeis{
        background-color: map-get($colors, "boxContainer");
        overflow: hidden;
        width: 400px;
        height: 44.813rem;
    }
}








/* Contacto */
#contacto {
    overflow: hidden;
    padding: 60px 0;
    h2,
    p.large {
      text-align: center;
      width: 60%;
      margin: 0 auto;
    }
    form {
      padding-top: 60px;
      width: 50%;
      margin: 0 auto;
      button {
        width: 50%;
      }
    text-align: center;
}
}

/*telas*/

#main-telas {
    background: url(../img/IAN_6.jpg) center center / cover no-repeat ;
  }


/*Pagina de muebles*/
/*contenedor uno*/
.contenedor-muebles{
    display: flex;

    .cajaUno{
        background-color: white;
        overflow:hidden;
        width: 50% ;
        height: 44.813rem;
        float: left;
        position: relative;
        display: block;
        background-repeat: no-repeat;

        .imgSillon{
            object-fit:cover;
            width: 100%; 
            height: 44.813rem;
            display: block;
        }
    }

    .cajaDos{
        background-color: #E5E5E5;
        overflow:hidden;
        width: 50%;
        height: 44.813rem;
        float: left;
        padding: 1.875rem ;
        position: relative;
        display: block;
        font-size: 16px;
        text-align: center;

        .imgRedonda{
            width: 18.75rem; 
            height: 18.75rem;
            border-radius: 9.37rem;
            border: 0.8rem solid #DFDEDE;
            margin: 3rem;
            align-items: center;
        }
    }
}











/*pagina de Proyectos*/

.contenedor-proyectos{

    .section-proyectos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        background-size: cover;
        grid-area: section-proyectos;

        #proyectos-contenedor-1-right{
            background-size: cover;
            background: url('../img/proyecto-10.jpg') center;
            background-repeat: no-repeat;
            margin: 5px;
        }
        #proyectos-contenedor-1-left{
            background-size: cover;
            background: url('../img/proyecto-11.jpg') center;
            background-repeat: no-repeat;
            background-position: left; 
            margin: 5px;
        }
    }

    .main-proyectos{
        grid-area: main-proyectos;

    .div-proyectos-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        background-size: cover;

        #proyectos-contenedor-2-right{
            background-size: cover;
            background: url('../img/proyecto-4.jpg') center;
            background-repeat: no-repeat;
            background-position: bottom left;
            margin: 5px;
        }
        #proyectos-contenedor-2-left{
            background-size: cover;
            background: url('../img/proyecto-5.jpg') center;
            background-repeat: no-repeat;
            margin: 5px;
        }
    }

    .div-proyectos-3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        background-size: cover;

        #proyectos-contenedor-3-right{
            background-size: cover;
            background: url('../img/proyecto-6.jpg') center;
            background-repeat: no-repeat;
            margin: 5px;
        }
        #proyectos-contenedor-3-left{
            background-size: cover;
            background: url('../img/proyecto-7.jpg') center;
            background-repeat: no-repeat;
            background-position: bottom left;
            margin: 5px;
        }
    }

        .div-proyectos-4{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100vh;
            background-size: cover;

            #proyectos-contenedor-4-right{
                background-size: cover;
                background: url('../img/proyecto-8.jpg') center;
                background-repeat: no-repeat;
                margin: 5px;
            }
            #proyectos-contenedor-4-left{
                background-size: cover;
                background: url('../img/proyecto-9.jpg') center;
                background-repeat: no-repeat;
                margin: 5px;
            }
        }
    }
}   



/*media querys*/

@media (max-width: 1000px) {

    .div-flotante-index{
        left: 25% !important;
    }
}

@media (max-width: 800px) {

    .div-flotante-index{
        left: 10% !important;
    }
}

@media (max-width: 600px) {

    .div-flotante-index{
        left: 2% !important;
    }
}

@media (max-width: 768px) {

    
        #galeria .galeria-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            grid-template-areas:   
                            "caja-1"
                            "caja-2"
                            "caja-3"
                            "caja-4"
                            "caja-5"
                            "caja-6"
                            "caja-7"
            ;
         }
    }    

@media (min-width: 768px) {

    
        #galeria .galeria-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            grid-template-areas:   
                            "caja-1 caja-2 caja-3 caja-4"
                            "caja-1 caja-5 caja-6 caja-7"
            ;
             }      
        }

    


/*Pagina Mi Porfolio*/

/*Secction-1*/


.contenedor-NL {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.texto-1 {
	font-size: 2.7rem;
    color:#cfd1d3;
}

.texto-2 {
	font-size: 6rem;
    color: #DFDEDE;
}

.textos-NL {
	text-transform: uppercase;
}

.texto-3{
	font-size: 1.3rem;
    color: #e0dede;
}

.linkWilliamsiannn{
    color: #9c9c9c;
}

/* section */
#section-1-NL {
	background: url('../img/IAN_4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding: 150px 0;
}

#section-1-NL .section-1-NL-caja{
    align-content: right;
	width: 60%;
}

#section-1-NL {
    .section-1-NL{
        justify-content: left;
    }
}

   